@import url("../fonts/stylesheet.css");
body {
	font-family: "proxima_nova_ltlight", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	color: #3d3d3d;
	line-height: 24px;
}
a {
	text-decoration: none !important;
	color: inherit !important;
}
p, table {
	font-size: 22px;
}
a:focus {
	border: 0;
	outline: 0;
}
/*header start*/
.header {
	/*background:url(../images/header_bg.jpg) top left repeat-x;*/
	padding: 18px 0px;
	text-align: left;
	background: rgba(48,94,144,1);
	background: -moz-linear-gradient(top, rgba(48,94,144,1) 0%, rgba(36,74,117,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(48,94,144,1)), color-stop(100%, rgba(36,74,117,1)));
	background: -webkit-linear-gradient(top, rgba(48,94,144,1) 0%, rgba(36,74,117,1) 100%);
	background: -o-linear-gradient(top, rgba(48,94,144,1) 0%, rgba(36,74,117,1) 100%);
	background: -ms-linear-gradient(top, rgba(48,94,144,1) 0%, rgba(36,74,117,1) 100%);
	background: linear-gradient(to bottom, rgba(48,94,144,1) 0%, rgba(36,74,117,1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#305e90', endColorstr='#244a75', GradientType=0 );
}
.menu_btn {
	cursor: pointer;
	float: left;
	margin-right: 20px;
	padding-top: 5px;
}
.logo {
	float: left;
}
.user_select {
	float: right;
}
.btn-select {
	border-radius: 8px;
	padding: 8px 46px 8px 10px;
	border: none;
	outline: none;
	font-size: 20px;
	font-weight: 600;
	background: url(../images/btm-arrow.png) 90% 50% no-repeat;
	background-color: #fafafa;
	color: #4a4a4a;
}
.user_select .dropdown-menu {
	font-size: 18px;
	border-radius: 10px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.176);
}
/*header end*/

/*left menu tree start*/
.menu_toggle {
	color: #fff;
	min-width: 470px;
	top: 0px;
	bottom: 0px;
	position: fixed;
	height: 100%;
	z-index: 1000;
	background: #305e8f;
}
.menu_toggleout {
	-webkit-box-shadow: 1px 0px 3px 0px rgba(0,0,0,0.50);
	-moz-box-shadow: 1px 0px 3px 0px rgba(0,0,0,0.50);
	box-shadow: 1px 0px 3px 0px rgba(0,0,0,0.50);
	overflow: hidden;
	height: 100%;
}
.menu_togglein {
	overflow: hidden;
	height: 80%;
}
.set_icon {
	position: relative;
	display: block;
	margin: 10px;
	left: 15px;
	width: 36px;
	height: 37px;
	background: url(../images/set_icon.png) bottom left no-repeat;
}
.menu_head {
	border-right: 1px solid #718fb3;
	background: rgba(48,94,144,1);
	background: -moz-linear-gradient(top, rgba(48,94,144,1) 0%, rgba(36,74,117,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(48,94,144,1)), color-stop(100%, rgba(36,74,117,1)));
	background: -webkit-linear-gradient(top, rgba(48,94,144,1) 0%, rgba(36,74,117,1) 100%);
	background: -o-linear-gradient(top, rgba(48,94,144,1) 0%, rgba(36,74,117,1) 100%);
	background: -ms-linear-gradient(top, rgba(48,94,144,1) 0%, rgba(36,74,117,1) 100%);
	background: linear-gradient(to bottom, rgba(48,94,144,1) 0%, rgba(36,74,117,1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#305e90', endColorstr='#244a75', GradientType=0 );
	margin: 0px;
	padding: 0px 15px;
	font-size: 32px;
	line-height: 76px;
	min-height: 76px;
	font-weight: 400;
}
.menu_subhead {
	padding: 15px;
	margin: 0;
	font-size: 26px;
	font-weight: 400;
}
.treeview {
	max-height: 50%;
	margin-bottom: 30px;
}
.treeview ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.tree ul:before {
	content: "";
	display: block;
	width: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
}
.tree li {
	margin: 0;
	padding: 0;
	line-height: 2em;
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	position: relative;
	letter-spacing: 1px;
	cursor: pointer;
}
.tree > li:hover, .tree > li:active, .tree > li:focus, .tree .active {
	background-color: #396fab;
}
.tree > li:focus, .tree li:active, .tree .active {
	background-color: #396fab;
}
.tree li li {
	background-color: #396fab;
}
.tree li li.branch, .tree li li li {
	background-color: #3e75ae;
}
.tree li li li.active {
	background-color: #e3e7f3 !important;
	color: #333 !important;
}
/*.tree li li li li{
	background-color:#dcdfeb !important;
}*/
.tree li a {
	position: relative;
}
.tree ul, .tree li {
	position: relative;
	width: 100%;
}
.branch > a, .branch > i {
	left: 50px;
}
.branch > ul > li > a, .branch > ul > li > i {
	left: 100px;
}
.branch > ul > li > i {
	left: 80px;
}
.branch > ul > li > i + a {
	left: 80px;
}
.branch > ul > li > ul > li > a, .branch > ul > li > ul > li > i {
	left: 150px;
}
.branch > ul > li > ul > li > i {
	left: 130px;
}
.branch > ul > li > ul > li > i + a {
	left: 130px;
}
.branch > ul > li > ul > li > ul > li > a, .branch > ul > li > ul > li > ul > li > i {
	left: 180px;
}
.tree li i {
	font-weight: 300;
	font-size: 14px;
}
.tree li a {
	padding: 0 1em;
}
.tree ul li:before {
	content: "";
	display: block;
	width: 10px;
	height: 0;
	margin-top: -1px;
	position: absolute;
	top: 1em;
	left: 0
}
.tree ul li:last-child:before {
	height: auto;
	top: 1em;
	bottom: 0
}
.indicator {
	margin-right: 5px;
	cursor: pointer;
}
.tree li a {
	text-decoration: none;
	color: #fff;
	padding: 0px
}
.tree li button, .tree li button:active, .tree li button:focus {
	text-decoration: none;
	color: #fff;
	border: none;
	background: transparent;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	outline: 0;
}
.glyphicon-chevron-down::before {
	background: rgba(0, 0, 0, 0) url("../images/menutree_rightrrow.png") no-repeat 0 0;
	color: transparent;
	content: "....";
	font-size: 13px;
}
.glyphicon-chevron-right::before {
	color: transparent;
	background: rgba(0, 0, 0, 0) url("../images/menutree_downarrow.png") no-repeat 0 0;
	color: transparent;
	content: "....";
	font-size: 13px;
}
/*.tree li li li .glyphicon-chevron-down::before{
	background: rgba(0, 0, 0, 0) url("../images/menutree_rightrrow_blue.png") no-repeat 0 0;
    color: transparent;
    content: "......";
    font-size: 13px;
}
.tree li li li .glyphicon-chevron-right::before {
	background: rgba(0, 0, 0, 0) url("../images/menutree_downarrow_blue.png") no-repeat 0 0;
    color: transparent;
    content: "......";
    font-size: 13px;
}*/
.new_entity, .new_assess {
	border-radius: 8px;
	color: #3a3a3a;
	display: block;
	font-size: 20px;
	font-weight: 600;
	cursor: pointer;
}
.new_entity:hover, .new_assess:hover {
	opacity: 0.9;
}
.new_entity {
	background: #fafafa url("../images/icon_newentity.png") no-repeat scroll 6% 50%;
	padding: 12px 0px 12px 60px;
	margin-right: 15px;
}
.new_assess {
	background: #fafafa url(../images/icon_zoom.png) no-repeat scroll 6% 50%;
	padding: 12px 0px 12px 50px;
}
.btn_set {
	display: block;
	overflow: hidden;
	margin-bottom: 15px;
}
.commt-box {
	position: relative;
	z-index: 1;
	clear: both;
	display: none;
	margin-bottom: 25px;
	padding: 30px 15px 15px;
	background-color: #fafafa;
	border-radius: 8px;
}
.commt-box .input-group-btn {
	display: block;
	margin-bottom: 15px;
	width: 100%;
	font-size: 16px;
}
.commt-box .input-group-btn input {
	font-size: 16px;
	color: #3a3a3a;
}
.commt-box .btn-primary {
	padding: 4px 12px;
	font-size: 16px;
	float: left;
}
.commt-box .dropdown-toggle {
	margin-bottom: 10px;
	width: 100%;
	padding: 6px;
	border: 1px solid #ccc;
	border-radius: 6px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	display: block;
	padding: 5px 10px 4px;
	color: #3a3a3a;
	display: block;
	font-size: 16px;
	text-align: left;
}
.btn-save {
	display: inline-block;
	overflow: hidden;
}
.commt-box .close-btn {
	font-size: 16px;
	padding: 4px 12px;
	margin-right: 15px;
}
.commt-box .clc {
	display: inline-block;
	overflow: hidden;
}
.input-group-btn a {
	color: #3a3a3a !important;
	font-size: 16px;
}
.commt-box .caret {
	float: right;
	margin-top: -12px;
}
.commt-box .dropdown-menu {
	width: 100%;
}
.commt-box .dropdown-toggle.btn-default:hover, .commt-box .dropdown-toggle.btn-default:focus, .commt-box .dropdown-toggle.btn-default:focus:hover {
	background-color: #f5f5f3;
	border-color: #ccc;
}
/*left menu tree end*/
.main_content {
	padding: 30px 15px 15px;
	margin-bottom: -10px;
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(243,243,243,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(243,243,243,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(243,243,243,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(243,243,243,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(243,243,243,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(243,243,243,1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3', GradientType=0 );
}
.main_headsub {
	font-size: 20px;
	font-weight: 600;
	color: #ababab;
	padding: 0px;
	margin: 0px;
}
.main_head {
	font-size: 36px;
	margin: 0;
	font-weight: 600;
}
.setting_blue {
	text-align: right;
}
.setting_blue img {
	padding-right: 12px;
	margin-bottom: -11px;
	clear: both;
	font-size: 0;
	line-height: 0;
	text-align: right;
}
.setting_ic {
	text-align: right;
	background: url(../images/icon_setting_blue.jpg) top left no-repeat;
	padding-left: 38px;
	line-height: 33px;
	color: #3a3a3a;
	font-size: 24px;
	display: inline-block;
	margin-top: 30px;
	font-weight: 600;
}
.setmenu_outerwrap {
	padding-top: 16px;
	overflow: hidden;
	display: none;
	background-color: #f3f3f3;
}
.setmenu_outer {
	background: url(../images/set_bgtop.jpg) top left repeat-x, url(../images/set_bgbtm.jpg) bottom left repeat-x;
	background-color: #c7cbd6;
	padding-top: 30px;
	position: relative;
}
.setmenu_outer:after {
	content: " ";
	display: inline-block;
	height: 21px;
	position: absolute;
	right: 4%;
	top: -16px;
	width: 64px;
	background: url(../images/set_arrow.png) 0 0 no-repeat;
}
.setmenu_blog {
	border-radius: 10px;
	padding: 14px;
	margin-bottom: 30px;
	display: block;
	text-align: center;
	border: 2px solid rgba(255, 255, 255, 0.6);
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.30);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.30);
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.30);
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(243,243,243,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(243,243,243,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(243,243,243,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(243,243,243,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(243,243,243,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(243,243,243,1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3', GradientType=0 );
}
.set_head {
	margin: 0 auto 6px;
	font-weight: 600;
	color: #3a3a3a;
}
.setmenu_blog:hover, .setmenu_blog:focus {
	text-decoration: none !important;
	color: #3a3a3a;
	border: 2px solid rgba(255, 255, 255, 0.6);
	opacity: 0.85;
}
/* assessment context */
.context_outer h2 {
	font-size: 28px;
	margin-top: 30px;
	font-weight: 600;
}
.asset_outer p {
	color: #949494;
}
.tabmenu_outer {
	margin: 0 auto;
	text-align: center;
	float: none;
}
.tabmenu {
	margin: 25px auto 25px;
	padding: 0px;
	list-style: none;
	display: inline-block;
	border: none;
	overflow: hidden;
}
.tabmenu li {
	display: inline;
	border-top: 1px solid #56779b;
	border-bottom: 1px solid #56779b;
	font-weight: 800;
	font-size: 22px;
	margin: 0px;
}
.tabmenu li.tab_first {
	border-left: 1px solid #56779b;
	border-right: 1px solid #56779b;
}
.tabmenu li.tab_last {
	border-left: 1px solid #56779b;
	border-right: 1px solid #56779b;
}
.tabmenu > li > a {
	padding: 6px 22px;
	display: block;
	margin: 0;
}
.tabmenu > li.active {
	margin-bottom: 0;
}
.tabmenu > li.active > a {
	margin-bottom: 1px;
	padding-bottom: 5px;
}
.tabmenu > li.active > a, .tabmenu > li.active > a:hover, .tabmenu > li.active > a:focus, .tabmenu li a:hover {
	background-color: #295482;
	color: #fff !important;
}
.tabmenu li.tab_first, .tabmenu li.tab_first:hover a, .tabmenu li.tab_first:hover a:hover, .tabmenu li.tab_first.active a, .tabmenu li.tab_first:active a.active {
	border-radius: 24px 0px 0px 24px;
}
.tabmenu li.tab_last, .tabmenu li.tab_last:hover a, .tabmenu li.tab_last:hover a:hover, .tabmenu li.tab_last.active a, .tabmenu li.tab_last:active a.active {
	border-radius: 0px 24px 24px 0px;
}
/* editor start */
.editor_outer {
}
.editor-head {
	border-radius: 6px 6px 0px 0px;
	color: #fff;
	padding: 20px 15px;
	font-size: 26px;
	font-weight: 600px;
	background: rgba(47,95,144,1);
	background: -moz-linear-gradient(top, rgba(47,95,144,1) 0%, rgba(36,75,119,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(47,95,144,1)), color-stop(100%, rgba(36,75,119,1)));
	background: -webkit-linear-gradient(top, rgba(47,95,144,1) 0%, rgba(36,75,119,1) 100%);
	background: -o-linear-gradient(top, rgba(47,95,144,1) 0%, rgba(36,75,119,1) 100%);
	background: -ms-linear-gradient(top, rgba(47,95,144,1) 0%, rgba(36,75,119,1) 100%);
	background: linear-gradient(to bottom, rgba(47,95,144,1) 0%, rgba(36,75,119,1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f5f90', endColorstr='#244b77', GradientType=0 );
}
.editor_in {
	border: 1px solid #ccc;
	border-top: 0px;
	border-radius: 0 0 6px 6px;
	padding-bottom: 5px;
}
.redactor-editor {
	border: none;
	margin: 0px;
	padding: 15px 15px 0px;
}
.redactor-box {
	margin-bottom: 0px;
}
/* editor start */
/* assessment context end */
/* add table content */
.asset_outer .tab-content {
	padding-bottom: 30px;
}
.tabtable_outer {
	margin: 0 auto;
	text-align: center;
	float: none;
	overflow: hidden;
}
.tabtable_menu {
	margin: 40px auto 30px;
	padding: 0px;
	list-style: none;
	display: inline-block;
	border: none;
	overflow: hidden;
}
.tabtable_menu img {
	display: block;
	clear: both;
	margin: 0px auto 8px;
	position: relative;
	z-index: 1;
}
.tabtable_menu li {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.tabtable_menu a:hover img, .tabtable_menu:focus img, .tabtable_menu li.active img, .tabtable_menu a:hover span, .tabtable_menu:focus span, .tabtable_menu li.active span {
	/*opacity:0.5;*/
	filter: brightness(0.85);
	-webkit-filter: brightness(0.85);
	-ms-filter: brightness(0.85);
	-moz-filter: brightness(0.85);
	position: relative;
	z-index: 999;
}
.tabtable_menu > li > a {
	font-weight: bold;
	font-size: 26px;
	color: #336692 !important;
	border: 0;
	margin: 0;
}
.tabtable_menu > li.active > a, .tabtable_menu > li.active > a:hover, .tabtable_menu > li.active > a:focus {
	border: 0;
}
.tabtable_menu li:hover a, .tabtable_menu li.active a, .tabtable_menu li a:hover {
	border: none;
	margin: 0;
	padding: 0;
}
.tabtable_menu li {
	position: relative;
}
.tabtable_menu li a:after {
	border: 3px solid #2c67a7;
	content: "";
	display: inline-block;
	height: 3px;
	left: 65%;
	position: absolute;
	top: 32%;
	width: 70%;
}
.tabtable_menu li:last-child a:after {
	border: none;
}
.asset_outer thead th:last-child, tbody td:last-child {
	border-radius: 0px 6px 6px 0px;
}
.asset_outer thead th:first-child, tbody td:first-child {
	border-radius: 6px 0px 0px 6px;
}
.asset_outer thead th {
	width: 40%;
	padding: 15px 30px !important;
}
.asset_outer thead th:last-child {
	width: 20%;
	text-align: right;
}
.asset_outer thead th {
	background-color: #235580;
	color: #fff;
}
.asset_outer .table > thead > tr > th, .asset_outer .table > tbody > tr > th, .asset_outer .table > tbody > tr > td, .asset_outer .table > tfoot > tr > th, .asset_outer .table > thead > tr > td, .asset_outer .table > tbody > tr > td, .asset_outer .table > tfoot > tr > td {
	padding: 15px;
	border: none;
}
.asset_outer .table tbody tr:hover {
	background-color: transparent;
}
.asset_outer .table > tbody > tr:nth-child(even) td {
	background-color: #f1f1f1;
}
.asset_outer .table tbody tr:first-child {
	border-radius: 6px 0px 6px 0px;
}
.asset_outer .table tbody tr:last-child {
	border-radius: 6px 0px 6px 0px;
}
.asset_outer .tab-content .tab-pane {
	position: relative;
}
.asset_outer .tab-content .tab-pane table {
	margin: 20px 0px 0px;
}
.asset_outer .tab-content {
	overflow: hidden;
}
.asset_outer .tab-content input, .asset_outer .dropdown .dropdown-toggle {
	font-size: 20px;
	height: 44px;
	color: #494949;
}
.form-control::-moz-placeholder {
 color: #494949;
 opacity: 1;
}
.asset_outer .dropdown .dropdown-toggle {
	display: block;
	border: 1px solid #ccc;
	padding: 5px 10px 4px;
	border-radius: 6px;
	background: #fafafa url(../images/btm-arrow.png) 95% 50% no-repeat;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.asset_outer .dropdown-menu {
	width: 100%;
	font-size: 20px;
}
.add_btn {
	display: block;
	padding: 20px;
	text-align: center;
	color: #999;
	border: 2px dashed #cdcdcd;
	cursor: pointer;
	border-radius: 6px;
	font-size: 22px;
	font-weight: 600;
}
.tab-content {
	overflow: hidden;
}
.slide-left {
	-webkit-transition: left 0.17s ease;
	-moz-transition: left 0.17s ease;
	-ms-transition: left 0.17s ease;
	-o-transition: left 0.17s ease;
	transition: left 0.17s ease;
	position: relative;
	overflow: hidden;
	left: 100%;
}
.slide-left.in {
	left: 0;
}
.slide-left.out {
	left: -100%;
}
.slide-right {
	-webkit-transition: left 0.17s ease;
	-moz-transition: left 0.17s ease;
	-ms-transition: left 0.17s ease;
	-o-transition: left 0.17s ease;
	transition: left 0.17s ease;
	position: relative;
	overflow: hidden;
	left: -100%;
}
.slide-right.in {
	left: 0;
}
.slide-right.out {
	left: 100%;
}
.main_content, .setmenu_outer, .context_outer, .asset_outer {
	padding-left: 25px;
	padding-right: 25px;
}
.togout_menu {
	float: right;
	cursor: pointer;
	margin-top: -2px;
	display: none;
}
