html, body {
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	height: 100%;
}
html body {
	background: #eee !important;	
	display: table;
}
.form-wrapper {
	width: 100%;
	display: table-cell;
	vertical-align: middle;
}
.form-outer{
	margin:0 auto;
	text-align:center;
	display:block;
	float:none;
}
.form-inner {
	background-color: #fff;
	/*border: 1px solid rgba(0,0,0,0.1);*/
	border-radius:6px;
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
	overflow:hidden
}
.sign_head {
	background: rgba(48,94,144,1);
	background: -moz-linear-gradient(top, rgba(48,94,144,1) 0%, rgba(36,74,117,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(48,94,144,1)), color-stop(100%, rgba(36,74,117,1)));
	background: -webkit-linear-gradient(top, rgba(48,94,144,1) 0%, rgba(36,74,117,1) 100%);
	background: -o-linear-gradient(top, rgba(48,94,144,1) 0%, rgba(36,74,117,1) 100%);
	background: -ms-linear-gradient(top, rgba(48,94,144,1) 0%, rgba(36,74,117,1) 100%);
	background: linear-gradient(to bottom, rgba(48,94,144,1) 0%, rgba(36,74,117,1) 100%);
 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#305e90', endColorstr='#244a75', GradientType=0 );
	padding: 15px;
}
.form-inner .btn-primary{
	background: rgba(48,94,144,1);
	background: -moz-linear-gradient(top, rgba(48,94,144,1) 0%, rgba(36,74,117,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(48,94,144,1)), color-stop(100%, rgba(36,74,117,1)));
	background: -webkit-linear-gradient(top, rgba(48,94,144,1) 0%, rgba(36,74,117,1) 100%);
	background: -o-linear-gradient(top, rgba(48,94,144,1) 0%, rgba(36,74,117,1) 100%);
	background: -ms-linear-gradient(top, rgba(48,94,144,1) 0%, rgba(36,74,117,1) 100%);
	background: linear-gradient(to bottom, rgba(48,94,144,1) 0%, rgba(36,74,117,1) 100%);
 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#305e90', endColorstr='#244a75', GradientType=0 );
	font-weight:500;
	font-size:20px;
	margin-top:25px;
}
.sign_head img {
	margin: 0 auto;
	display: block;
}
.form-signin h2 {
	text-align: center;
	margin: 0px auto 20px;
}
.form-signin h2 a{
	color:#428bca !important;
}
.form-signin h2 a:hover{
	color:#1a64b2 !important;
}
.form-signin {
	padding: 30px;
	margin: 0 auto;
}
.form-signin .checkbox {
	margin:0px 0px 0px 22px;
    text-align: left;
	font-weight: normal;
	font-size:16px;	
}
.form-signin .forgotPwd{
	font-weight: normal;
	font-size:16px;
	text-align:right;
	margin-right:2px;
}
.form-signin .form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 10px;
 @include box-sizing(border-box);
}
.form-signin .form-control:focus {
	z-index: 2;
}
.form-signin input[type="text"] {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
	margin-bottom: 15px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
@media only screen and (max-width : 380px){
	.form-signin .check, .form-signin .forgot{
		display:block;
		width:100%;
		text-align:left;
	}
	.form-signin .forgotPwd{
		text-align:left;
		margin-top:10px;
	}
}